body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

h1,
.recipe-list {
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 50px
}

h2 {
    margin-bottom: -5px;
}

.recipe-list,
img {
    display: block;
}

.recipe-list {
    margin-bottom: 6px;
    font-size: 24px;
    color: #000000;
}

.recipe-list:hover,
.recipe-list:active {
    color: rgb(218, 165, 32);
}

.content-container {
    width: 70%;
    margin: 0 auto;
}

.content {
    margin-bottom: 65px;
    padding: 0 20em;
    text-align: justify;
}

.content img {
    margin: 0 auto;
    width: 35em;
    height: auto;
}